.container {
  padding: 24px;
  display: flex;
}

.filters {
  border: 1px solid #ededed;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cars {
  padding: 24px;
  width: 100%;
  margin-left: 24px;
  border: 1px solid #ededed;
}
