.filters {
  border: 1px solid #ededed;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 290px;
}

.select {
  min-width: 250px !important;
  margin-bottom: 20px !important;
}
